
*{
  margin: 0%;
  padding: 0%;
}
.library {
  position: relative;
  z-index: 4;
  width: 100%;
  margin-left: 7cm;
  background-color: rgb(124, 124, 124);
}
.mediabut{
  display: flex;
}
h2{
  display: flex;
  margin-top: 16px;
  margin-left: 0.7cm;
  font-size: 0.7cm;
}
.but{
  background-color: white;
  color: black;
  height: 0.5cm;
  display: flex;
  margin-bottom: 10px;
}
.toolbar {
  display: flex;
  gap: 4cm;
  width: 100%;
}
.searchmedia{
  width: 50px;
  height: 0.5cm;
  margin-left: 22.2cm;
}
.inputsearch{
  margin-top: 20px;
  margin-bottom: 20px;
}

 .toolbar .mediabutton{
  width: 4cm;
  height: 0.5cm;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.toolbar select{
  width: 3cm;
  height: 1cm;
  margin-left: 0.7cm;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image-container {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  background-color: #f0f0f0;
  border: 3px solid #ccc;
}

.image-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #000000;
  font-size: 20px;
  width: 90%;
  color: #777;
}

.load-more {
  margin: 20px 0;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.footer {
  text-align: center;
  margin-top: 10px;
  color: #777;
}

